@charset "utf-8";
/* CSS Document */
footer{
    width: 100%;
    height: 200px;
    background-color: #433b3b;
}
.footerLeft{
	width: 50%;
	height: 200px;
	float: left;
}
.footerRight{
	width: 50%;
	height: 200px;
	float: right;
}
ul{
	list-style-type: square;
	padding-top: 20px;
}
li{
        color: #c8ac61;
	font-size: 18px;
	line-height: 30px;
}